body{
  background-color: #FFFFF;
  font-family: 'Josefin Sans', sans-serif;
  padding: 50px 50px;
  padding-top:10px;
}

.info{
  color: #000000;
}

.heading{
  color: #000000;
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

.introduction {
  font-size: 50px;
  line-height: 60px;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Crimson Text', serif;
  border-bottom: 2px solid #000000;
}

#aloha {
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #2d9b85;
  font-weight: bold;
}
#info-about{
border-bottom: 2px solid #000000;

}

.projects{
  padding-top: -5px;

}

.moreinfo{
  border-top: 2px solid #000000;
}

img{
  float: left;
  /* width: 15%; */
  max-height: 450px;
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a{
  color: #2d9b85;
}

.links a:hover{
  font-weight:bold;
  text-decoration: none;
  color: #000000;
}

.links {
font-size: 15px;
font-family: 'Josefin Sans', sans-serif;
}


.heading2{
  font-size: 15px;
}

.heading2 {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: -20px;
}

.panel-body {
  /* border: 2px solid;
  border-color: #A2A1A3; */
  width: 300px;
  border: 5px solid #A2A1A3;
  padding: 10px;
  margin: 10px;
}

/* footer {
  color: #2d9b85;
  font-style: italic;
  font-size: 15px;
} */
