body{
  background-color: #FFFFF;
}

.info{
  color: #000000;
}

.heading{
  color: #000000;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border-bottom: 2px solid #000000;
}

#info-about{
border-bottom: 2px solid #000000;

}
img{
  float: left;
  /* width: 15%; */
  max-height: 50px;
  max-width: 100px;
  display: block;
  border-radius: 50%;
}

.projects{
  border-bottom: 2px solid #000000;
}
