body{
  background-color: #FFFFF;
  font-family: 'Josefin Sans', sans-serif;
  padding: 50px 50px;
  padding-top:10px;
}

.info{
  color: #000000;
}

.introduction {
  font-size: 50px;
  line-height: 60px;
  padding: 20px;
  padding-bottom: 50px;
}

.heading{
  color: #000000;
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

 h1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Crimson Text', serif;
  border-bottom: 2px solid #000000;
}


#aloha {
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #2d9b85;
  font-weight: bold;
}
#info-about{
border-bottom: 2px solid #000000;

}


.moreinfo {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

img{
  float: center;
  max-height: 400px;
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a{
  color: #2d9b85;
  text-decoration: none;
}

.links a:hover{
  font-weight:bold;
  text-decoration: none;
  color: #000000;
}

.links {
font-size: 15px;
font-family: 'Josefin Sans', sans-serif;
}


.heading2{
  font-size: 15px;
}

.heading2 {
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

.soft p {
  font-family: 'Over the Rainbow', cursive;
  font-weight: bold;
  font-size: 20px;
}

.tech p {
  font-family: 'Knewave', cursive;
  font-size: 20px;
}
.panel-body {
  /* float: center; */
  width: 390px;
  border: 5px solid #A2A1A3;
  padding: 10px;
  margin: 15px;
}

.footer {
  color: #2d9b85;
  font-style: italic;
  font-size: 10px;
}

.contact{
  color: #2d9b85;
  font-size: 15px;
  font-style: bold;
}
